.features {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.customerVoices {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  vertical-align: center;
}

.subsection {
  display: flex;
  padding: 2rem;
  alignment: center;
  border: dashed 1px black;
  margin: 0 1rem;
  border-radius: 10px;
  vertical-align: center;
  row-gap: 2rem;
}

.subsectionContent {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customerVoicesImg {
  height: auto;
  width: auto;
  vertical-align: center;
  border-radius: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.codeBlockContainer {
  justify-content: center;
  max-width: 80rem;
  display: flex;
  border-radius: 4px;
  padding: 16px;
  margin: 0 1rem;

  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.codeBlock {
  max-width: 100%;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
}

.description {
  --tw-shadow: 0 16px 32px -16px rgba(0,0,0,.1),0 0 0 1px rgba(0,0,0,.1);
  --tw-ring-offeset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;

  flex: 1 1 40%;
  height: max-content;
  min-width: 300px;
  padding: 3rem 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 12px;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000), var(--tw-shadow);
}

pre {
  border: 1px solid #e5e7eb;
  margin-top: 0 !important;
  background-color: white !important;
}

.codeBlockHeader {
  height: 30px;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  z-index: 1;
  top: 5px;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  border: 1px solid #e5e7eb;
  --tw-bg-opacity: 1;
  background-color: rgb(246 247 249/var(--tw-bg-opacity));
  display: flex;
  align-items: center;
}

.xButton {
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: conic-gradient(from 90deg at -10% 100%,#bcc1cd 0deg,#bcc1cd 90deg,#fff 1turn);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .title {
    font-size: 52px;
  }
}